SQL CARTO QUERY: rxl204
- Compatible for python 2 and 3
- Code from cheatsheet: http://python-future.org/compatible_idioms.html

In [1]:
SQL_SOURCE = 'https://rxl204.carto.com/api/v2/sql?q='

#extra credit for python 2 and 3 compatibility
#for python 3
try:
    from urllib.parse import urlparse, urlencode
    from urllib.request import urlopen, Request
    from urllib.error import HTTPError
#for python 2
except ImportError:
    from urlparse import urlparse
    from urllib import urlencode
    from urllib2 import urlopen, Request, HTTPError
from io import StringIO
import ast
import pandas as pd
    
def queryCartoDB(query, format='CSV', source=SQL_SOURCE):
    data = urlencode({'format': format, 'q': query}).encode('utf-8')
    try:
        response = urlopen(source, data)
    except HTTPError as e:
        raise ValueError('\n'.join(ast.literal_eval(e.readline())['error']))
    except Exception:
        raise
    return pd.read_csv(response)

In [2]:
test = '''
SELECT *
FROM citibike
'''

In [3]:
queryCartoDB(test)

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,5960,NaN,NaN,1,1965.0,19217,462,435,351,Subscriber,W 22 St & 10 Ave,W 21 St & 6 Ave,-74.004519,40.746920,-73.994156,40.741740,2015-02-01 20:42:00+00,2015-02-01 20:36:00+00
1,9806,NaN,NaN,1,1971.0,17575,488,167,643,Subscriber,W 39 St & 9 Ave,E 39 St & 3 Ave,-73.993722,40.756458,-73.976049,40.748901,2015-02-03 14:50:00+00,2015-02-03 14:39:00+00
2,13113,NaN,NaN,1,1973.0,20313,440,332,1379,Subscriber,E 45 St & 3 Ave,Cherry St,-73.972826,40.752554,-73.979481,40.712199,2015-02-04 07:30:00+00,2015-02-04 07:07:00+00
3,1,NaN,NaN,2,1978.0,17131,423,521,801,Subscriber,W 54 St & 9 Ave,8 Ave & W 31 St,-73.986905,40.765849,-73.994811,40.750450,2015-02-01 00:14:00+00,2015-02-01 00:00:00+00
4,2,NaN,NaN,1,1993.0,21289,504,497,379,Subscriber,1 Ave & E 15 St,E 17 St & Broadway,-73.981656,40.732219,-73.990093,40.737050,2015-02-01 00:07:00+00,2015-02-01 00:00:00+00
5,3,NaN,NaN,2,1969.0,18903,127,281,2474,Subscriber,Barrow St & Hudson St,Grand Army Plaza & Central Park S,-74.006744,40.731724,-73.973715,40.764397,2015-02-01 00:42:00+00,2015-02-01 00:01:00+00
6,4,NaN,NaN,2,1985.0,21044,505,2004,818,Subscriber,6 Ave & W 33 St,6 Ave & Broome St,-73.988484,40.749013,-74.004704,40.724399,2015-02-01 00:15:00+00,2015-02-01 00:01:00+00
7,5,NaN,NaN,1,1957.0,19868,83,323,544,Subscriber,Atlantic Ave & Fort Greene Pl,Lawrence St & Willoughby St,-73.976323,40.683826,-73.986317,40.692362,2015-02-01 00:10:00+00,2015-02-01 00:01:00+00
8,6,NaN,NaN,1,1979.0,15854,2002,373,717,Subscriber,Wythe Ave & Metropolitan Ave,Willoughby Ave & Walworth St,-73.963198,40.716887,-73.953820,40.693317,2015-02-01 00:14:00+00,2015-02-01 00:02:00+00
9,7,NaN,NaN,1,1983.0,15173,504,352,1306,Subscriber,1 Ave & E 15 St,W 56 St & 6 Ave,-73.981656,40.732219,-73.977225,40.763406,2015-02-01 00:26:00+00,2015-02-01 00:04:00+00
10,8,NaN,NaN,1,1955.0,17862,116,439,913,Subscriber,W 17 St & 8 Ave,E 4 St & 2 Ave,-74.001497,40.741776,-73.989780,40.726281,2015-02-01 00:19:00+00,2015-02-01 00:04:00+00
11,9,NaN,NaN,2,1985.0,21183,2012,335,759,Subscriber,E 27 St & 1 Ave,Washington Pl & Broadway,-73.976806,40.739445,-73.994046,40.729039,2015-02-01 00:17:00+00,2015-02-01 00:04:00+00
12,10,NaN,NaN,1,1982.0,14843,444,284,585,Subscriber,Broadway & W 24 St,Greenwich Ave & 8 Ave,-73.989151,40.742354,-74.002638,40.739017,2015-02-01 00:15:00+00,2015-02-01 00:05:00+00
13,11,NaN,NaN,2,1988.0,16936,444,284,581,Subscriber,Broadway & W 24 St,Greenwich Ave & 8 Ave,-73.989151,40.742354,-74.002638,40.739017,2015-02-01 00:15:00+00,2015-02-01 00:05:00+00
14,12,NaN,NaN,2,1991.0,21507,472,498,204,Subscriber,E 32 St & Park Ave,Broadway & W 32 St,-73.981948,40.745712,-73.988084,40.748549,2015-02-01 00:08:00+00,2015-02-01 00:05:00+00
15,13,NaN,NaN,2,1982.0,17456,307,368,1169,Subscriber,Canal St & Rutgers St,Carmine St & 6 Ave,-73.989900,40.714275,-74.002150,40.730386,2015-02-01 00:27:00+00,2015-02-01 00:07:00+00
16,14,NaN,NaN,2,1990.0,14679,2012,326,419,Subscriber,E 27 St & 1 Ave,E 11 St & 1 Ave,-73.976806,40.739445,-73.984267,40.729538,2015-02-01 00:14:00+00,2015-02-01 00:07:00+00
17,15,NaN,NaN,1,1977.0,18978,212,285,527,Subscriber,W 16 St & The High Line,Broadway & E 14 St,-74.006818,40.743349,-73.990741,40.734546,2015-02-01 00:17:00+00,2015-02-01 00:09:00+00
18,16,NaN,NaN,1,1968.0,16496,488,368,1013,Subscriber,W 39 St & 9 Ave,Carmine St & 6 Ave,-73.993722,40.756458,-74.002150,40.730386,2015-02-01 00:27:00+00,2015-02-01 00:10:00+00
19,17,NaN,NaN,1,1990.0,17107,331,394,587,Subscriber,Pike St & Monroe St,E 9 St & Avenue C,-73.991930,40.711731,-73.977688,40.725213,2015-02-01 00:23:00+00,2015-02-01 00:13:00+00
20,18,NaN,NaN,1,1987.0,16984,507,326,525,Subscriber,E 25 St & 2 Ave,E 11 St & 1 Ave,-73.979738,40.739126,-73.984267,40.729538,2015-02-01 00:22:00+00,2015-02-01 00:13:00+00
21,19,NaN,NaN,1,1980.0,15997,305,493,670,Subscriber,E 58 St & 3 Ave,W 45 St & 6 Ave,-73.967245,40.760958,-73.982912,40.756800,2015-02-01 00:26:00+00,2015-02-01 00:14:00+00
22,20,NaN,NaN,1,1960.0,21516,223,445,711,Subscriber,W 13 St & 7 Ave,E 10 St & Avenue A,-73.999947,40.737815,-73.981420,40.727408,2015-02-01 00:27:00+00,2015-02-01 00:15:00+00
23,21,NaN,NaN,1,1986.0,15815,457,428,1559,Subscriber,Broadway & W 58 St,E 3 St & 1 Ave,-73.981693,40.766953,-73.987834,40.724677,2015-02-01 00:42:00+00,2015-02-01 00:16:00+00
24,22,NaN,NaN,1,1987.0,18727,477,228,683,Subscriber,W 41 St & 8 Ave,E 48 St & 3 Ave,-73.990026,40.756405,-73.971879,40.754601,2015-02-01 00:27:00+00,2015-02-01 00:16:00+00
25,23,NaN,NaN,1,1969.0,14982,488,513,522,Subscriber,W 39 St & 9 Ave,W 56 St & 10 Ave,-73.993722,40.756458,-73.988639,40.768254,2015-02-01 00:24:00+00,2015-02-01 00:16:00+00
26,24,NaN,NaN,1,1957.0,16391,518,507,389,Subscriber,E 39 St & 2 Ave,E 25 St & 2 Ave,-73.973442,40.747804,-73.979738,40.739126,2015-02-01 00:23:00+00,2015-02-01 00:16:00+00
27,25,NaN,NaN,1,1981.0,15947,473,439,276,Subscriber,Rivington St & Chrystie St,E 4 St & 2 Ave,-73.991925,40.721101,-73.989780,40.726281,2015-02-01 00:21:00+00,2015-02-01 00:16:00+00
28,26,NaN,NaN,1,1993.0,16917,531,128,907,Subscriber,Forsyth St & Broome St,MacDougal St & Prince St,-73.992663,40.718939,-74.002971,40.727103,2015-02-01 00:32:00+00,2015-02-01 00:17:00+00
29,27,NaN,NaN,1,1975.0,15924,528,490,946,Subscriber,2 Ave & E 31 St,8 Ave & W 33 St,-73.977061,40.742909,-73.993934,40.751551,2015-02-01 00:33:00+00,2015-02-01 00:18:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46170,46171,NaN,NaN,1,1988.0,15733,435,335,812,Subscriber,W 21 St & 6 Ave,Washington Pl & Broadway,-73.994156,40.741740,-73.994046,40.729039,2015-02-08 00:05:00+00,2015-02-07 23:51:00+00
46171,46172,NaN,NaN,1,1995.0,16931,504,361,647,Subscriber,1 Ave & E 15 St,Allen St & Hester St,-73.981656,40.732219,-73.991908,40.716059,2015-02-08 00:02:00+00,2015-02-07 23:51:00+00
46172,46173,NaN,NaN,1,1987.0,17202,401,152,563,Subscriber,Allen St & Rivington St,Warren St & Church St,-73.989978,40.720196,-74.009106,40.714740,2015-02-08 00:00:00+00,2015-02-07 23:51:00+00
46173,46174,NaN,NaN,2,1989.0,20314,439,483,470,Subscriber,E 4 St & 2 Ave,E 12 St & 3 Ave,-73.989780,40.726281,-73.988900,40.732233,2015-02-07 23:59:00+00,2015-02-07 23:51:00+00
46174,46175,NaN,NaN,1,1989.0,21531,395,467,299,Subscriber,Bond St & Schermerhorn St,Dean St & 4 Ave,-73.984106,40.688070,-73.978951,40.683125,2015-02-07 23:56:00+00,2015-02-07 23:51:00+00
46175,46176,NaN,NaN,1,1968.0,21491,504,361,629,Subscriber,1 Ave & E 15 St,Allen St & Hester St,-73.981656,40.732219,-73.991908,40.716059,2015-02-08 00:02:00+00,2015-02-07 23:52:00+00
46176,46177,NaN,NaN,1,1990.0,15367,380,402,499,Subscriber,W 4 St & 7 Ave S,Broadway & E 22 St,-74.002939,40.734011,-73.989551,40.740343,2015-02-08 00:00:00+00,2015-02-07 23:52:00+00
46177,46178,NaN,NaN,2,1973.0,18978,368,369,474,Subscriber,Carmine St & 6 Ave,Washington Pl & 6 Ave,-74.002150,40.730386,-74.000264,40.732241,2015-02-08 00:00:00+00,2015-02-07 23:52:00+00
46178,46179,NaN,NaN,1,1980.0,19507,504,476,345,Subscriber,1 Ave & E 15 St,E 31 St & 3 Ave,-73.981656,40.732219,-73.979661,40.743943,2015-02-07 23:58:00+00,2015-02-07 23:52:00+00
46179,46180,NaN,NaN,1,1980.0,16936,160,499,829,Subscriber,E 37 St & Lexington Ave,Broadway & W 60 St,-73.978311,40.748238,-73.981918,40.769155,2015-02-08 00:07:00+00,2015-02-07 23:53:00+00
46180,46181,NaN,NaN,1,1982.0,18689,531,368,776,Subscriber,Forsyth St & Broome St,Carmine St & 6 Ave,-73.992663,40.718939,-74.002150,40.730386,2015-02-08 00:05:00+00,2015-02-07 23:53:00+00
46181,46182,NaN,NaN,1,1972.0,15781,478,520,697,Subscriber,11 Ave & W 41 St,W 52 St & 5 Ave,-73.998842,40.760301,-73.976485,40.759923,2015-02-08 00:05:00+00,2015-02-07 23:53:00+00
46182,46183,NaN,NaN,1,1988.0,15081,471,467,1703,Subscriber,Grand St & Havemeyer St,Dean St & 4 Ave,-73.956981,40.712868,-73.978951,40.683125,2015-02-08 00:23:00+00,2015-02-07 23:54:00+00
46183,46184,NaN,NaN,1,1983.0,21672,247,479,922,Subscriber,Perry St & Bleecker St,9 Ave & W 45 St,-74.004831,40.735354,-73.991255,40.760193,2015-02-08 00:10:00+00,2015-02-07 23:54:00+00
46184,46185,NaN,NaN,1,1970.0,16336,488,457,849,Subscriber,W 39 St & 9 Ave,Broadway & W 58 St,-73.993722,40.756458,-73.981693,40.766953,2015-02-08 00:08:00+00,2015-02-07 23:54:00+00
46185,46186,NaN,NaN,1,1973.0,21609,488,457,826,Subscriber,W 39 St & 9 Ave,Broadway & W 58 St,-73.993722,40.756458,-73.981693,40.766953,2015-02-08 00:08:00+00,2015-02-07 23:54:00+00
46186,46187,NaN,NaN,1,1964.0,19470,3002,328,473,Subscriber,South End Ave & Liberty St,Watts St & Greenwich St,-74.015756,40.711512,-74.009660,40.724055,2015-02-08 00:02:00+00,2015-02-07 23:54:00+00
46187,46188,NaN,NaN,1,1960.0,18167,450,510,332,Subscriber,W 49 St & 8 Ave,W 51 St & 6 Ave,-73.987882,40.762272,-73.980420,40.760660,2015-02-07 23:59:00+00,2015-02-07 23:54:00+00
46188,46189,NaN,NaN,1,1987.0,15929,404,382,456,Subscriber,9 Ave & W 14 St,University Pl & E 14 St,-74.005509,40.740583,-73.992005,40.734927,2015-02-08 00:03:00+00,2015-02-07 23:55:00+00
46189,46190,NaN,NaN,1,1983.0,17541,466,254,327,Subscriber,W 25 St & 6 Ave,W 11 St & 6 Ave,-73.991449,40.743954,-73.998004,40.735324,2015-02-08 00:01:00+00,2015-02-07 23:55:00+00
46190,46191,NaN,NaN,2,1983.0,14736,494,116,306,Subscriber,W 26 St & 8 Ave,W 17 St & 8 Ave,-73.997236,40.747348,-74.001497,40.741776,2015-02-08 00:01:00+00,2015-02-07 23:55:00+00
46191,46192,NaN,NaN,1,1984.0,16300,432,495,1248,Subscriber,E 7 St & Avenue A,W 47 St & 10 Ave,-73.983799,40.726218,-73.993012,40.762699,2015-02-08 00:17:00+00,2015-02-07 23:56:00+00
46192,46193,NaN,NaN,1,1959.0,16978,325,152,1165,Subscriber,E 19 St & 3 Ave,Warren St & Church St,-73.984738,40.736245,-74.009106,40.714740,2015-02-08 00:15:00+00,2015-02-07 23:56:00+00
46193,46194,NaN,NaN,1,1974.0,16722,295,461,993,Subscriber,Pike St & E Broadway,E 20 St & 2 Ave,-73.992939,40.714067,-73.982050,40.735877,2015-02-08 00:13:00+00,2015-02-07 23:56:00+00
46194,46195,NaN,NaN,2,1960.0,20184,265,455,1422,Subscriber,Stanton St & Chrystie St,1 Ave & E 44 St,-73.991475,40.722293,-73.969053,40.750020,2015-02-08 00:20:00+00,2015-02-07 23:57:00+00
46195,46196,NaN,NaN,1,1953.0,15585,325,470,689,Subscriber,E 19 St & 3 Ave,W 20 St & 8 Ave,-73.984738,40.736245,-74.000040,40.743453,2015-02-08 00:08:00+00,2015-02-07 23:57:00+00
46196,46197,NaN,NaN,2,1986.0,16395,325,474,428,Subscriber,E 19 St & 3 Ave,5 Ave & E 29 St,-73.984738,40.736245,-73.986831,40.745168,2015-02-08 00:04:00+00,2015-02-07 23:57:00+00
46197,46198,NaN,NaN,1,1986.0,15545,325,474,392,Subscriber,E 19 St & 3 Ave,5 Ave & E 29 St,-73.984738,40.736245,-73.986831,40.745168,2015-02-08 00:03:00+00,2015-02-07 23:57:00+00
46198,46199,NaN,NaN,2,1983.0,19540,334,368,548,Subscriber,W 20 St & 7 Ave,Carmine St & 6 Ave,-73.997262,40.742388,-74.002150,40.730386,2015-02-08 00:08:00+00,2015-02-07 23:58:00+00
46199,46200,NaN,NaN,2,1965.0,20998,417,439,917,Subscriber,Barclay St & Church St,E 4 St & 2 Ave,-74.010202,40.712912,-73.989780,40.726281,2015-02-08 00:15:00+00,2015-02-07 23:59:00+00

## Task 1 — Familiarize with SQL Clauses
• Sort data by start_station_id, tripduration
    - Only checking trips with duration <= 3 hours
• Only show the top/last 10 records (aka head and tail in SQL)

• List all unique start_station_id values

• Aggregation functions:
    - Count the number of trips (aka wc -l in SQL)
    - Find the average/min/max trip duration

In [4]:
#sort and show top 10 records
sql1 = '''SELECT DISTINCT start_station_id, 
COUNT(tripduration) AS trip_count, 
AVG(tripduration) AS avg_duration, 
MIN(tripduration) AS min_duration, 
MAX(tripduration) AS max_duration FROM citibike
WHERE tripduration <=10800
GROUP BY start_station_id
ORDER BY start_station_id ASC, avg_duration ASC
LIMIT 10'''
queryCartoDB(sql1)

   start_station_id  trip_count  avg_duration  min_duration  max_duration
0                72         114    742.701754           107          2099
1                79          71    659.140845           149          1916
2                82          49    445.346939           138          1581
3                83          35    783.685714            73          2647
4               116         288    543.965278            66          2081
5               119          19   1044.789474           278          2167
6               120          17    979.882353           270          2131
7               127         209    710.846890            83          5776
8               128         247    664.206478            62          2875
9               137          96    697.364583            85          2316

In [5]:
#sort and show last 10 records
sql1_ = '''SELECT DISTINCT start_station_id, 
COUNT(tripduration) AS trip_count, 
AVG(tripduration) AS avg_duration, 
MIN(tripduration) AS min_duration, 
MAX(tripduration) AS max_duration FROM citibike
WHERE tripduration <=10800
GROUP BY start_station_id
ORDER BY start_station_id DESC, avg_duration DESC
LIMIT 10'''
queryCartoDB(sql1_)

   start_station_id  trip_count  avg_duration  min_duration  max_duration
0              3002         184    714.646739            79          7225
1              2023          91    771.978022           108          2454
2              2022          96    979.062500           107          2495
3              2021         141    738.815603            90          6592
4              2017          86    763.383721           109          2476
5              2012         256    714.519531            79          2026
6              2010          76    763.184211           167          2610
7              2009         107    777.794393            60          2765
8              2008          86    832.220930            94          3476
9              2006          79   1130.531646            90          3459

## Task 2 — Working with date/time
• Selecting trips started on Feb-02-2015 only

• Selecting trips started on the weekends
    - What are average trip duration during weekends?
• Can we do the same for weekday?

In [6]:
sql2 = '''SELECT * FROM citibike
WHERE starttime >= '2015-02-02T00:00:00Z' 
AND starttime < '2015-02-03T00:00:00Z'
ORDER BY start_station_id DESC, starttime DESC
LIMIT 10'''
queryCartoDB(sql2)

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,7866,NaN,NaN,1,1973,17442,2008,3002,239,Subscriber,Little West St & 1 Pl,South End Ave & Liberty St,-74.016777,40.705693,-74.015756,40.711512,2015-02-02 23:07:00+00,2015-02-02 23:03:00+00
1,7677,NaN,NaN,1,1976,19966,304,3002,331,Subscriber,Broadway & Battery Pl,South End Ave & Liberty St,-74.013617,40.704633,-74.015756,40.711512,2015-02-02 19:58:00+00,2015-02-02 19:52:00+00
2,7396,NaN,NaN,1,1981,19816,329,3002,576,Subscriber,Greenwich St & N Moore St,South End Ave & Liberty St,-74.010206,40.720434,-74.015756,40.711512,2015-02-02 18:04:00+00,2015-02-02 17:54:00+00
3,6901,NaN,NaN,1,1981,17038,2008,3002,305,Subscriber,Little West St & 1 Pl,South End Ave & Liberty St,-74.016777,40.705693,-74.015756,40.711512,2015-02-02 10:47:00+00,2015-02-02 10:42:00+00
4,6876,NaN,NaN,1,1991,19783,329,3002,771,Subscriber,Greenwich St & N Moore St,South End Ave & Liberty St,-74.010206,40.720434,-74.015756,40.711512,2015-02-02 10:29:00+00,2015-02-02 10:16:00+00
5,6781,NaN,NaN,1,1959,19665,494,3002,1976,Subscriber,W 26 St & 8 Ave,South End Ave & Liberty St,-73.997236,40.747348,-74.015756,40.711512,2015-02-02 09:53:00+00,2015-02-02 09:21:00+00
6,6777,NaN,NaN,1,1975,17448,304,3002,399,Subscriber,Broadway & Battery Pl,South End Ave & Liberty St,-74.013617,40.704633,-74.015756,40.711512,2015-02-02 09:25:00+00,2015-02-02 09:18:00+00
7,6953,NaN,NaN,1,1990,19619,465,2023,661,Subscriber,Broadway & W 41 St,E 55 St & Lexington Ave,-73.986580,40.755136,-73.970314,40.759681,2015-02-02 11:50:00+00,2015-02-02 11:39:00+00
8,7245,NaN,NaN,1,1961,19724,477,2022,1872,Subscriber,W 41 St & 8 Ave,E 59 St & Sutton Pl,-73.990026,40.756405,-73.959206,40.758491,2015-02-02 17:09:00+00,2015-02-02 16:38:00+00
9,7241,NaN,NaN,1,1961,20016,2022,2022,188,Subscriber,E 59 St & Sutton Pl,E 59 St & Sutton Pl,-73.959206,40.758491,-73.959206,40.758491,2015-02-02 16:37:00+00,2015-02-02 16:34:00+00

In [7]:
#Selecting trips started on the weekends 
sql2_1 = '''SELECT date_part('dow', starttime) AS day_of_week, 
AVG(tripduration) as avg_duration FROM citibike
WHERE date_part('dow', starttime) IN (0,6)
GROUP BY day_of_week'''
queryCartoDB(sql2_1)

   day_of_week  avg_duration
0            0    638.149200
1            6    686.460825

In [8]:
#average trip duration weekends 
sql2_1_2 = '''SELECT AVG(tripduration) as avg_tripduration
FROM citibike
WHERE date_part('dow', starttime) IN (0, 6)'''
queryCartoDB(sql2_1_2)

   avg_tripduration  Unnamed: 1
0        662.942181         NaN

In [9]:
#selecting trips for weekdays
sql2_2='''SELECT date_part('dow', starttime) AS day_of_week, 
AVG(tripduration) as avg_duration FROM citibike
WHERE date_part('dow', starttime) IN (1,2,3,4,5)
GROUP BY day_of_week
'''
queryCartoDB(sql2_2)

   day_of_week  avg_duration
0            5    637.116968
1            1    920.862234
2            2    767.224443
3            3    697.556559
4            4    623.396720

In [10]:
#average trip duration weekdays
sql2_2_2 = '''SELECT AVG(tripduration) as avg_tripduration
FROM citibike
WHERE date_part('dow', starttime) IN (1,2,3,4,5)'''
queryCartoDB(sql2_2_2)

   avg_tripduration  Unnamed: 1
0        681.052292         NaN

## Task 3 — Working with Space
• Showing the list of start station locations
    - Using GROUP BY
• Showing the number of trips started per station

• … but only for stations within 500m of Time Square!
    - The coordinates of Time Square is (40.7577,-73.9857)

In [11]:
sql3 = '''SELECT start_station_latitude, start_station_longitude, 
CDB_TransformToWebMercator(CDB_LatLng(start_station_latitude,start_station_longitude)) AS the_geom_webmercator, 
MIN(cartodb_id) AS cartodb_id, 
COUNT(tripduration) AS numtrips FROM citibike

WHERE ST_DWithin(CDB_LatLng(start_station_latitude,start_station_longitude)::geography, CDB_LatLng(40.7577,-73.9857)::geography,500) 

GROUP BY start_station_latitude, start_station_longitude
ORDER BY numtrips'''
queryCartoDB(sql3)

,start_station_latitude,start_station_longitude,the_geom_webmercator,cartodb_id,numtrips
0,40.755273,-73.983169,0101000020110F0000F22A632FBE6A5FC1363A28CFADFB...,1115,112
1,40.756800,-73.982912,0101000020110F00009BB87D02B76A5FC146C144E9E5FB...,19,141
2,40.759291,-73.988597,0101000020110F00001607D538556B5FC119A6CA6F41FC...,124,141
3,40.760647,-73.984427,0101000020110F000020D6742CE16A5FC112F4D73D73FC...,42,213
4,40.757570,-73.990985,0101000020110F00003F9300B2976B5FC1B8B88F3102FC...,783,221
5,40.755136,-73.986580,0101000020110F000004AF971C1D6B5FC17A48F3C1A8FB...,54,251
6,40.756405,-73.990026,0101000020110F0000F55695027D6B5FC186E5BB69D7FB...,33,507

## Task 4 — Putting it all together
• Find the station that had the longest average trip duration during
weekends and within 500m of TimeSquare!

• Extra: create lines for trips started from stations within 500m of Times
Squares and lasted less than 2 hours. The number of trips per each
pair of stations are output as attributes of these lines.

In [12]:
sql4 = '''SELECT start_station_name, start_station_latitude, start_station_longitude, 
CDB_TransformToWebMercator(CDB_LatLng(start_station_latitude,start_station_longitude)) AS the_geom_webmercator, 
MIN(cartodb_id) AS cartodb_id, 
AVG(tripduration) AS avg_duration FROM citibike

WHERE ST_DWithin(CDB_LatLng(start_station_latitude,start_station_longitude)::geography, CDB_LatLng(40.7577,-73.9857)::geography,500) 
AND date_part('dow', starttime) IN (0,6)
GROUP BY start_station_name, start_station_latitude, start_station_longitude
ORDER BY avg_duration'''
queryCartoDB(sql4)

,start_station_name,start_station_latitude,start_station_longitude,the_geom_webmercator,cartodb_id,avg_duration
0,W 42 St & 8 Ave,40.757570,-73.990985,0101000020110F00003F9300B2976B5FC1B8B88F3102FC...,783,579.142857
1,W 43 St & 6 Ave,40.755273,-73.983169,0101000020110F0000F22A632FBE6A5FC1363A28CFADFB...,1115,629.700000
2,W 41 St & 8 Ave,40.756405,-73.990026,0101000020110F0000F55695027D6B5FC186E5BB69D7FB...,33,643.260274
3,W 45 St & 6 Ave,40.756800,-73.982912,0101000020110F00009BB87D02B76A5FC146C144E9E5FB...,19,675.400000
4,Broadway & W 41 St,40.755136,-73.986580,0101000020110F000004AF971C1D6B5FC17A48F3C1A8FB...,54,683.121212
5,W 45 St & 8 Ave,40.759291,-73.988597,0101000020110F00001607D538556B5FC119A6CA6F41FC...,124,762.931818
6,Broadway & W 49 St,40.760647,-73.984427,0101000020110F000020D6742CE16A5FC112F4D73D73FC...,42,1010.104167

The station with the longest average trip duration during weekends and within 500m of TimeSquare is the station on Broadway & W 49 St.

In [13]:
#extra credit
sql4_1 = '''SELECT ST_Makeline(CDB_TransformToWebMercator(CDB_LatLng(start_station_latitude,start_station_longitude)),
                   CDB_TransformToWebMercator(CDB_LatLng(end_station_latitude,end_station_longitude)))
                    as the_geom_webmercator, MIN(cartodb_id) as cartodb_id, COUNT(tripduration) as numtrips FROM citibike
WHERE ST_DWithin(CDB_LatLng(start_station_latitude,start_station_longitude)::geography, CDB_LatLng(40.7577,-73.9857)::geography,500) 
AND tripduration<7200

GROUP BY start_station_latitude, start_station_longitude, end_station_latitude, end_station_longitude'''
queryCartoDB(sql4_1)

                                  the_geom_webmercator  cartodb_id  numtrips
0    0102000020110F000002000000F22A632FBE6A5FC1363A...       12043         1
1    0102000020110F0000020000009BB87D02B76A5FC146C1...       34407         1
2    0102000020110F00000200000004AF971C1D6B5FC17A48...       30188         1
3    0102000020110F0000020000003F9300B2976B5FC1B8B8...        7566         5
4    0102000020110F00000200000020D6742CE16A5FC112F4...        8850         4
5    0102000020110F0000020000003F9300B2976B5FC1B8B8...       31004         1
6    0102000020110F00000200000020D6742CE16A5FC112F4...        4636         2
7    0102000020110F000002000000F55695027D6B5FC186E5...        6788         6
8    0102000020110F000002000000F22A632FBE6A5FC1363A...       20181         2
9    0102000020110F0000020000001607D538556B5FC119A6...       26631         1
10   0102000020110F000002000000F22A632FBE6A5FC1363A...       36993         1
11   0102000020110F000002000000F55695027D6B5FC186E5...       11242         1
12   0102000020110F0000020000003F9300B2976B5FC1B8B8...       22083         3
13   0102000020110F0000020000003F9300B2976B5FC1B8B8...       13700         2
14   0102000020110F000002000000F55695027D6B5FC186E5...        8798         1
15   0102000020110F0000020000003F9300B2976B5FC1B8B8...       14842         1
16   0102000020110F00000200000004AF971C1D6B5FC17A48...       38207         2
17   0102000020110F0000020000009BB87D02B76A5FC146C1...       14181         2
18   0102000020110F0000020000001607D538556B5FC119A6...       19813         1
19   0102000020110F000002000000F55695027D6B5FC186E5...       36988         1
20   0102000020110F0000020000001607D538556B5FC119A6...       43818         1
21   0102000020110F000002000000F55695027D6B5FC186E5...         876         3
22   0102000020110F000002000000F55695027D6B5FC186E5...       15276         2
23   0102000020110F0000020000009BB87D02B76A5FC146C1...       18472         2
24   0102000020110F000002000000F22A632FBE6A5FC1363A...        1115         2
25   0102000020110F0000020000009BB87D02B76A5FC146C1...       14749         3
26   0102000020110F000002000000F55695027D6B5FC186E5...       26955         2
27   0102000020110F00000200000020D6742CE16A5FC112F4...       21504         1
28   0102000020110F00000200000004AF971C1D6B5FC17A48...       21258         2
29   0102000020110F00000200000020D6742CE16A5FC112F4...       45898         1
..                                                 ...         ...       ...
542  0102000020110F0000020000001607D538556B5FC119A6...       15912         3
543  0102000020110F00000200000020D6742CE16A5FC112F4...        9169         7
544  0102000020110F000002000000F55695027D6B5FC186E5...        6319        13
545  0102000020110F00000200000020D6742CE16A5FC112F4...         570         7
546  0102000020110F0000020000009BB87D02B76A5FC146C1...       13614         3
547  0102000020110F0000020000009BB87D02B76A5FC146C1...       20724         1
548  0102000020110F000002000000F55695027D6B5FC186E5...       12873         3
549  0102000020110F000002000000F55695027D6B5FC186E5...       13148         5
550  0102000020110F00000200000020D6742CE16A5FC112F4...       29300         2
551  0102000020110F00000200000004AF971C1D6B5FC17A48...       19451         5
552  0102000020110F000002000000F22A632FBE6A5FC1363A...       37508         1
553  0102000020110F0000020000003F9300B2976B5FC1B8B8...       12273         1
554  0102000020110F00000200000004AF971C1D6B5FC17A48...       11481         2
555  0102000020110F00000200000004AF971C1D6B5FC17A48...       11191         1
556  0102000020110F000002000000F22A632FBE6A5FC1363A...       11880         2
557  0102000020110F00000200000004AF971C1D6B5FC17A48...        1080         7
558  0102000020110F00000200000004AF971C1D6B5FC17A48...       12908         2
559  0102000020110F000002000000F55695027D6B5FC186E5...       31209         1
560  0102000020110F000002000000F55695027D6B5FC186E5...         285         4
561  0102000020110F0000020000003F9300B2976B5FC1B8B8...        6728         4
562  0102000020110F0000020000003F9300B2976B5FC1B8B8...        9859         3
563  0102000020110F0000020000009BB87D02B76A5FC146C1...       22366         2
564  0102000020110F000002000000F55695027D6B5FC186E5...       43644         1
565  0102000020110F000002000000F22A632FBE6A5FC1363A...       35497         2
566  0102000020110F00000200000004AF971C1D6B5FC17A48...       22653         1
567  0102000020110F0000020000009BB87D02B76A5FC146C1...       17589         1
568  0102000020110F000002000000F55695027D6B5FC186E5...        6472         5
569  0102000020110F0000020000001607D538556B5FC119A6...       15383         2
570  0102000020110F0000020000001607D538556B5FC119A6...       13612         3
571  0102000020110F00000200000020D6742CE16A5FC112F4...       13311         9

[572 rows x 3 columns]

![alt text](lines.PNG "Citibike Trips under 2 hours within 500m of Times Square")

Figure: Citibike Trips under 2 hours within 500m of Times Square